{% extends 'base.html' %}


{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/images/fcs_logo(r).png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">DSBA Pilot project 2022</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">This project serves as a compilation of solutions of some workshop tasks and as an example
            for practice with larger projects.
            The intention is for students to provide pull requests to this repository with new features and additions.
            Each addition will give bonus points.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="https://github.com/dsba-z/pilot-project-2022">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Github repository</button>
            </a>
        </div>
    </div>
</div>
<script>hljs.highlightAll();</script>
{% for task in tasks %}
<div class="divider"></div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 shadow">
            <pre><code class="language-python pre-max-height">{{ task.source_code }}</code></pre>
        </div>
        <div class="col-lg-6">
            <a href="/task?id={{task.id}}">
                <h1 class="display-5 fw-bold lh-1 mb-3">{{ task.prompt }}</h1>
                <p class="lead"></p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Run this task</button>
                </div>
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock  %}